@model EmployeeManager.Models.RegisterManager
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-lg p-3 mt-7 mb-7">
                <div class="card-header">
                    <h1 class="text-center">@ViewData["Title"]</h1>
                </div>
                <div class="card-body">
                    <form asp-action="RegisterM" asp-controller="Home" method="post">
                        <div class="form-group">
                            <span asp-validation-for="Name"></span>
                            <label asp-for="Name"></label>
                            <input asp-for="Name" placeholder="Your Email" class="form-control form-control-alternative" />
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="Email"></span>
                            <label asp-for="Email"></label>
                            <input asp-for="Email" placeholder="Your Email" class="form-control form-control-alternative" />
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="Password"></span>
                            <label asp-for="Password"></label>
                            <input asp-for="Password" placeholder="Your Password" class="form-control form-control-alternative" />
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="Confirm"></span>
                            <label asp-for="Confirm"></label>
                            <input asp-for="Confirm" placeholder="Confirm Your Password" class="form-control form-control-alternative" />
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Register" class="btn btn-success" />
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <p>Need to <a asp-action="Login" asp-controller="Home" class="btn btn-info">Login</a> instead?</p>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
